.container {
    display: grid;
    align-items: center;
}

.card {
    border-radius: 10px;
    margin-bottom: 10px;
    display: grid;
}

.tab1-options {
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

ion-card-subtitle {
    margin-bottom: 10px;
}