<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      BLOCKING
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blocking</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container ion-padding">
    <div class="card ion-padding">
      <h1>Quick Block</h1>
      <p>It's a simple way to instantly start blocking apps or websites with one tap on a button.</p>
      <ion-button expand="block">Get Started</ion-button>
    </div>
  </div>

</ion-content>
