<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      PROTECT-WALL
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" color="primary"><ion-icon name="shield-half"></ion-icon> ProtectWall</ion-title>
    </ion-toolbar>
  </ion-header>

    <ion-card class="card">

      <ion-card-header>
        <ion-card-title>Quick Block</ion-card-title>
      </ion-card-header>
      <ion-card-content>  
        <ion-card-subtitle>It's a simple way to instantly start blocking apps or websites with one tap on a button.</ion-card-subtitle>
        <ion-button expand="block" routerLink="/blocklist" routerDirection="forward"><ion-icon name="caret-forward" style="margin-right: 5px;"></ion-icon>Set-up</ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card class="card">

      <ion-card-header>
        <ion-card-title>Strict Mode</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-card-subtitle>Turn ON Condition</ion-card-subtitle>

          <ion-card class="card" *ngIf="selectedCondition === 'manual'" (click)='presentActionSheet1()' style="margin: 10px 0px 0px;">
            <ion-card-content style="padding: 0px">
              <ion-list lines="none" style="margin: 0px; padding: 0px;">
                <ion-item button>
                  <ion-icon name="cog-outline" slot="start"></ion-icon>
                  <ion-label style="font-weight: 500;">Manual</ion-label>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
          
          <ion-card class="card" *ngIf="selectedCondition === 'timer'" (click)='presentActionSheet1()'  style="margin: 10px 0px 0px;">
            <ion-card-content style="padding: 0px;">
              <ion-list lines="none" style="margin: 0px; padding: 0px;">
                <ion-item button>
                  <ion-icon name="hourglass-outline" slot="start"></ion-icon>
                  <ion-label style="font-weight: 500;">Timer</ion-label>
                </ion-item>
                  <ion-datetime presentation="time"></ion-datetime>

              </ion-list>
            </ion-card-content>
          </ion-card>


          <ion-card-subtitle style="margin: 20px 0px 0px;">Deactivation Method</ion-card-subtitle>

          <ion-card class="card" *ngIf="selectedMethod === 'none'" (click)='presentActionSheet2()' style="margin: 10px 0px 0px;">
            <ion-card-content style="padding: 0px">
              <ion-list lines="none" style="margin: 0px; padding: 0px;">
                <ion-item button>
                  <ion-icon name="remove-circle" slot="start"></ion-icon>
                  <ion-label style="font-weight: 500;">None</ion-label>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>

          <ion-card class="card" *ngIf="selectedMethod === 'pin'" (click)='presentActionSheet2()' style="margin: 10px 0px 0px;">
            <ion-card-content style="padding: 0px">
              <ion-list lines="none" style="margin: 0px; padding: 0px;">
                <ion-item button>
                  <ion-icon name="keypad" slot="start"></ion-icon>
                  <ion-label style="font-weight: 500;">Pin Code</ion-label>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>

          <ion-card class="card" *ngIf="selectedMethod === 'charge'" (click)='presentActionSheet2()' style="margin: 10px 0px 0px;">
            <ion-card-content style="padding: 0px">
              <ion-list lines="none" style="margin: 0px; padding: 0px;">
                <ion-item button>
                  <ion-icon name="flash" slot="start"></ion-icon>
                  <ion-label style="font-weight: 500;">Charge Connection</ion-label>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>


      </ion-card-content>

    </ion-card>


</ion-content>
